
#destBtn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
}



/* TODO style Header */

header {
  display: flex;
}

h1 {
  margin-left: 5px;
}





/* TODO style api grid */

.apis {
  margin: 5rem auto;
  width: min(90%, 75rem);
}

#map {
  height: 500px;
  

}



#weather {
  background: #d29f9fd0;
  width: 100%;
  text-align: left;
  font-size: 120%;
}

h2.temp {
  text-align: left;
}




#news {
  background: #007bff;
}


/* TODO style About Us */






/* TODO style contact form */
.form-container {
  width: 300px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

#submit {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

textarea {
  height: 100px;
  resize: none;
}





/* TODO style bottom grid */

.container2 {
  margin: 5rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-auto-flow: row;
  text-align: left;
  gap: 1rem;
}


h2 {
  text-align: center;
  padding: 10px;
  gap: 1rem;
}




/* TODO media resizing */

@media (min-width: 45rem) {
  .apis {
    grid-auto-flow: column;
  }
  .container2 {
    grid-auto-flow: column;
  }
}
